<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TugasBtmNav"
        tools:targetApi="31">
        <activity
            android:name=".ruang.Bola"
            android:exported="false" />
        <activity
            android:name=".ruang.Kubus"
            android:exported="false" />
        <activity
            android:name=".ruang.Balok"
            android:exported="false" />
        <activity
            android:name=".ruang.Krucut"
            android:exported="false" />
        <activity
            android:name=".ruang.Tabung"
            android:exported="false" />
        <activity
            android:name=".datar.Trapesium"
            android:exported="false" />
        <activity
            android:name=".datar.Lingkaran"
            android:exported="false" />
        <activity
            android:name=".datar.Segitiga"
            android:exported="false" />
        <activity
            android:name=".datar.PersegiPanjang"
            android:exported="false" />
        <activity
            android:name=".datar.Persegi"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>